.form-row {
  display: flex;
  justify-content: flex-end;
  padding: .25em;
  width: 400px;
}
.form-row > label {
  padding: .25em;
  flex: 1;
  font-size: 14px;
}
.form-row > input {
  padding: .25em;
  text-align: right;
  font-size: 14px;
  width: 100px;
}